MANIFEST.bak
Makefile
Makefile.old
blib
pm_to_blib
t/CPAN/MyConfig.pm*
t/CPAN/MyConfig_[0-9][0-9][0-9][0-9].pm
t/dot-cpan-[0-9][0-9][0-9][0-9]
t/97-return_values.out
test.out
*.swp
.*
!.gitignore
!.travis.yml
SIGNATURE
t/CPAN/authors/id/A/AN/ANDK/NotInChecksums-0.000.tar.gz
./CPAN-*
ChangeLog
# not ignore ILYAZ,GBARR,INGY
./distroprefs/[A-FHJ-Z]*.dd
./distroprefs/G[AC-Z]*.dd
./distroprefs/I[A-KMO-Z]*.dd
/MYMETA.*
# used by scripts/cpan
cpan-home
